@page "/contacs"
@using BlazingChat.Shared
@inject HttpClient Http

<div class="col-12">
    @foreach (var item in collection)
    {
        
    }

</div>

@code {
    private WeatherForecast[] forecasts;

    private List<Contact> ContactList {get; set;} = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

        ContactList.Add(new Contact(1,"Julius","Caesar"));
        ContactList.Add(new Contact(2,"Daniel","Tonini"));
        ContactList.Add(new Contact(3,"Gary","Thomas"));
        ContactList.Add(new Contact(4,"Martin","Sommer"));
        ContactList.Add(new Contact(5,"Howard","Snyder"));
    }

}
